<h2> Lessons </h2>
<ul>
  <% @sections.each do |section| %>
    <p><li><strong> <%= section.name %> </li> </strong></p>
     <% section.lessons.each do |lesson| %>
      <ul> <a href="/lessons/<%=lesson.id%>"><%= lesson.name %> </a> </ul>
      <% end %>
    <% end %>
<ul>







