<!DOCTYPE html>
<html>
<head>
  <title>Learn How To Program</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<h1>Learn How To Program</h1>
<body>

<%= yield %>

</body>
<footer><br><br>© 2014 Epicodus, Inc</footer>
</html>
